header{
font-size: 40px;
color: rgb(25, 139, 177);
background-color: rgb(196, 207, 209);
text-align: center;
border:rgb(1, 5, 7);
text-shadow: 3px 1px 3px rgb(143, 157, 161);
border: rgb(17, 82, 104);
border-radius: 5px;

}

body {
    padding: 30px 30%;
}


h1{
    font-size: 32px;
    font-weight: bolder;
}

.form1{
    font-size: 1.5rem; 
    background-color: grey;
    color: darkblue;
}

.form1 textarea{
    width: 100%;
}

.choice{
    color: red;
}

/* na podstawie xpath full path z chrome dev tools:first-child
fieldset/div/div[1]/label */

/* 
.form1 fieldset div div label{
    color: red;
} */

#sendform{
    background-color: green;
    font-weight: bold;
    font-size: 2rem;
    width: 120px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

#sendform:hover{
    border-radius: 10px;
    background-color: darkolivegreen;
    color:white;
    border: 5px solid darkgreen;
    transition: border 2s ease-in-out, background-color 3s ease-in-out, border-radius 3s ease-in;
}

footer{
font-size: 20px;
color: rgb(0, 0, 0);
background-color: rgb(196, 207, 209);
text-align: center;
position: absolute;
bottom: 0%;
width: 38%;
height: 30px;
padding: 10px 0px;
border-radius: 5px;
}