* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 30%;
    
}


h1{
    font-size: 32px;
    font-weight: bolder;
}

.form1{
    font-size: 1.5rem; 
    background-color: grey;
    color: darkblue;
}

.form1 textarea{
    width: 100%;
}

.choice{
    color: red;
}

/* na podstawie xpath full path z chrome dev tools:first-child
fieldset/div/div[1]/label */

/* 
.form1 fieldset div div label{
    color: red;
} */

button:hover{
    
}

#sendform{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    width: 120px;
    height: 50px;
    display: block;
    margin: 0 auto;
    transition: 1s ease;
}

#sendform:hover{
    border-radius: 10px;
    background-color: white;
    color:black;
    border: black 3px solid;
    cursor: pointer;

}