* {
    margin: 0;
    box-sizing: border-box;
}


body {

    font-family: 'Montserrat', sans-serif;
    padding: 30px 30%;
    
}

h1 {
    font-size: 32px;
    font-weight: bolder;
}

header{
font-size: 40px;
color: rgb(25, 139, 177);
background-color: rgb(196, 207, 209);
text-align: center;
border:rgb(1, 5, 7);
text-shadow: 3px 1px 3px rgb(143, 157, 161);
border: rgb(17, 82, 104);
border-radius: 5px;

}

button{
    background-color: rgb(220, 236, 241);
    color:blue;
    font-size: 1rem;
    width: 160px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.form1{
    font-size: 1.2rem; 
    background-color: rgb(255, 242, 227);
    color: rgb(0, 0, 0);
    font-size: 1.5rem; 
    background-color: lightgray;
    color: darkslateblue;

}

.form1 textarea {
    width: 100%;
}

.choice{
    color: rgb(0, 0, 0);
}

.choice:hover{
    font-size: 1.35rem;
    color: rgb(243, 139, 20);

}


/* na podstawie xpath full path z chrome dev tools:first-child
fieldset/div/div[1]/label */


/* 
.form1 fieldset div div label{
    color: red;
} */

button:hover{
    cursor: pointer;
}

#sendform{
    background-color: black;
    color: white;

    font-weight: bold;
    font-size: 2rem;
    width: 120px;
    height: 50px;
    display: block;
    margin: 0 auto;
    transition: 1s ease;
}

#sendform:hover {
    border-radius: 10px;
    background-color: white;
    color:black;
    border: black 3px solid;
    cursor: pointer;
    transition: border 2s ease-in-out, background-color 3s ease-in-out, border-radius 3s ease-in;
}

.form2 textarea{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    text-decoration: violet;
    display:inline-block;
    font-size: 16px;
}
img{
    width:100%;
}

footer{
font-size: 20px;
color: rgb(0, 0, 0);
background-color: rgb(196, 207, 209);
text-align: center;
bottom: 0%;
width: 100%;
padding: 10px 0px;
border-radius: 5px;
}

footer p{
    text-align: center;
}
iframe {
    display: block;
    width: 600px; 
    height: 300px;  
    margin: 0 auto; 
    
}
    
fieldset div {
  position: relative;
  animation: animation 2s linear;
}
@keyframes animation {
  0% {
    left: -150px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

/* style do nawigacji bez MQ */

.nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}


/* /style do nawigacji bez MQ */
